main {
    width: 100%;
    padding: 20px;
}

.sidenav {
    display: flex;
}

.logo {
    width: fit-content;
    overflow: auto;
    margin: 15px 0px;
    pointer-events: none;
    cursor: default;
}

.contentt {
    flex-grow: 1;
    padding: 0px 100px; /* Add padding to the content area */
    margin-left: 250px;
    transition: all 0.3s;
  }
  
.contentt.active {
    margin-left: -80px;
}

.fal-ul {
    padding: 150px;
}

.Link {
    text-decoration: none;
    color: #eaecef;
}