
.logo {
    width: fit-content;
    overflow: auto;
    margin: 15px 0px;
    pointer-events: none;
    cursor: default;
}

.sidenav {
    display: flex;
}

.fal-ul {
    padding: 150px;
}

.Link {
    text-decoration: none;
    color: #eaecef;
}