main {
    width: 100%;
    overflow: hidden;
}

.logo {
    width: fit-content;
    margin: 5px 0px;
    pointer-events: none;
    cursor: default;
}
/* Make sidenav go higher ****/
.sidenav {
    position: relative;
    bottom: 40px;
}

.mysidenav {
    background-color: #1C0059 !important;
    position: absolute;
    width: 50px;    /*250px*/
    height: 100vh;   /*95vh*/
    padding: 0 20px;
    /* left: -30%; */
    transition: all 0.5s;
  }
  
.mysidenav.active {
    width: 250px;
    /* left: 0; */
}
.mysidenav .Link {
    display: none;
}
.mysidenav.active .Link {
    display: inline-block;
}
.mysidenav .logo {
    display: none;
}
.mysidenav.active .logo {
    display: initial;
}

.contentt {
    flex-grow: 1;
    padding: 1px 60px; 
    transform: translateX(200px); /* Start with no translation */
    transition: all 0.3s;
  }
  
.contentt.active {
    transform: translateX(250px); /* Translate the content to the right by the width of the sidebar */
}

.fal-ul li{
    display: inline-block;
    margin: 0 10px;
}

.fal-ul li i {
    color: #eaecef;
}

.Link {
    font-size: larger;
    text-decoration: none;
    color: #eaecef;
    padding: 0 50px;
}