.App {
  text-align: justify;
}

body {
  overflow: hidden;
}

.page {
  font-size: 5rem;
  text-align: center;
}

header {
  overflow: hidden;
  width: 250px;
  padding: 20px;
  color: #eaecef;
  background-color: #011627;
  height: 20px;
  transition: all 0.5s;
}

.app.collapsed header {
  width: 50px; /* Adjust the width when collapsed */

}

header svg {
  padding-left: 10px;
  font-size: 25px;
}

ul {
  padding: 0;
  height: 50px;
}

ul li {
  display: block;
  list-style-type: none;
  color: #eaecef;
  padding: 10px 15px;
  margin: 15px 0;
}

ul li:nth-child(3) {
  bottom: -400px;
}

ul li:hover,
ul li i.active {
  background: #172b4d;
}
