.App {
  text-align: justify;
}

body {
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  width: fit-content;
  overflow: auto;
  margin: 15px 0px;
  pointer-events: none;
  cursor: default;
}

.mysidenav {
  background-color: #1C0059 !important;
  position: absolute;
  width: 280px;
  height: 95vh;
  padding: 0 20px;
  left: -100%;
  transition: all 0.3s;
}

.mysidenav.active {
  left: 0;
}

.page {
  font-size: 5rem;
  text-align: center;
}

header {
  padding: 30px;
  color: #eaecef;
  background-color: #011627;
  height: 60px;
}

header svg {
  font-size: 25px;
}

ul {
  padding: 0;
  height: 50px;
}

ul li {
  display: block;
  list-style-type: none;
  color: #eaecef;
  padding: 10px 15px;
  margin: 15px 0;
}

ul li:nth-child(3) {
  bottom: -400px;
}

ul li:hover,
ul li i.active {
  background: #172b4d;
}