.App {
  /* text-align: justify; */
}

body {
  overflow: hidden;
  background-color: #EBEBF5;
}

.page {
  font-size: 5rem;
  text-align: center;
}

header {
  z-index: 1;
  position: relative;
  overflow: hidden;
  width: 280px;       /* Adjust width of sidenav top black bar: width 250px */
  padding: 20px;
  color: #eaecef;
  background-color: #011627;
  height: 60px;       /* height: 25px */
  transition: all 0.5s;
}

.app.collapsed header {
  width: 80px; /* Adjust the width when collapsed, width: 50px */

}

header svg {
  padding-left: 10px;
  font-size: 30px;  /*25px*/
}

ul {
  padding: 0;
  height: 50px;
}

ul li {
  display: block;
  list-style-type: none;
  color: #eaecef;
  padding: 10px 12px;
  margin: 35px 0;
}

ul li:hover,
ul li i.active {
  background: #172b4d;
}
