
/* ---------------------------------------------------------dashboard */
.overwiev{
    text-align: left;
    margin-bottom: 30px;
}
.col-md-3 {
    background-color: #d3ddff;
}
.name{
    font-size: 1.5em!important;
    padding-top: 10px!important;
}
.radius{
    border-radius: 2em!important;
}
.myIcon{
    width: 2em !important;
    border-radius: 0.6em;
}
.bg{
    background: #ebebeb!important;
}
.bgIcon1{
    background: #27df39!important;
}
.colorIcon1{
    color: #27df39!important;
}
.bg1{
    background: #E4EAFF!important;
}
.div-table{
    border: 2px solid black;
}
.my-fs{
    font-size: 6em;
}
.pic{
    width: 100%;
}
.myIcon1{
    width: 2em !important;
    border-radius: 0.6em;
    color: #fd9d2d;
}
#table-wrapper {
    position:relative!important;
  }
#table-scroll {
height: 150px !important;
overflow:auto!important;
margin-top:20px!important;
}
#table-wrapper table {
width:100%!important;
}

#table-wrapper table thead th .text1 {
position:absolute!important;   
top:-20px!important;
z-index:2!important;
height:20px!important;
}
.no1{
    background-color: #FF99006E!important;
}
.no2{
    background-color: #FF99004A!important;
}
.no3{
    background-color: #FF990038!important;
}