.dashboard-content {
    background-color: aqua;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    max-height: calc(100vh - 60px); /* Set a maximum height to fit the available viewport height minus the header height (adjust as needed) */
    padding: 20px; /* Add padding for spacing */
}
.dashboard-content2 {
    background-color: red;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    max-height: calc(100vh - 60px); /* Set a maximum height to fit the available viewport height minus the header height (adjust as needed) */
    padding: 20px; /* Add padding for spacing */
}