.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mysidenav {
  background-color: #1C0059 !important;
  position: absolute;
  width: 240px;
  height: 95vh;
  padding: 0 30px;

}
.page {
  font-size: 5rem;
  text-align: center;
}

header {
  padding: 30px;
  background-color: #011627;
  height: 50px;
}

ul {
  padding: 0;
}

ul li {
  display: block;
  list-style-type: none;
  color: #eaecef;
  padding: 10px 15px;
}
