html {
    scroll-behavior: smooth;
}

.stock-Background {
    height: fit-content;
    background-color: #ebebf5;
    color: green;
}

.scrollable-content {
    width: auto;
    resize: none;
}

.card-container {
    width: 100%;
    max-height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
    max-height: calc(100vh - 60px); /* Set a maximum height to fit the available viewport height minus the header height (adjust as needed) */
}
  
