.user-bg {
    width: 85%;
}

.scrollable-container::-webkit-scrollbar {
    display: none;
}

.list-group-item {
    background-color: #FFFCFC;
}

.custom-hover:hover {
    background-color: #d9d9d9; /* Change this to the desired hover color */
    cursor: pointer;
}

.text-Sty {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Raleway';
}